.about-us {
    text-align: center;
}
.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-us h2 {
    font-size: 30px ;
}
.about-column {
    padding: 20px;
}
.about-column img {
    padding: 20px;
    width: 100%;
}