

#header {
    height: 90vh;
    background-color: #694AD2;
}
.content-column {
    padding-top: 70px;
    padding-left: 50px;
    text-align: left;
    color: white;
}

.site-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 500;
}

.site-title span {
    color: rgb(208, 255, 0);
}
.site-subtitle {
    color: antiquewhite;
    font-size: 24px;
    padding-right: 70px;
}

.iamge-column img {
    width: 90%;
    padding: 5%;
}
.btn-explore {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(208, 255, 0);
    color: #090542;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.btn-explore:hover {
    background-color: goldenrod;
    color: white;
}